/* Header */
.navbar.bg-dark {
  background-color: var(--bs-cyan) !important;
}

.al-title {
  color: var(--white);
}

.nav-link {
  color: var(--bs-nav-link-color);

  &:hover {
    color: var(--bs-nav-link-hover-color);
  }
}


/* Navigation */

.nav-pills .nav-link.active, {
  border-radius: var(--bs-btn-border-radius);
  color: revert;
  background-color: rgba(var(--bs-primary-rgb), .1);
}

.nav-link:not(:hover) {
  color: rgba(0, 0, 0, .9);
}

.navbar {
  .navbar-brand,
  .navbar-brand a:not(:hover) {
    color: var(--bs-white);
    text-decoration: none;
  }

  .nav-link {
    &:not(:hover) {
      color: var(--bs-white);
    }

    &:hover {
      color: var(--bs-red);
    }
  }
}


/*
 * From the Docassemble docs:
 * https://docassemble.org/docs/config.html#bootstrap%20theme
 */

span.daactivetext {
  color: yellow;

  &:hover {
    color: #ffff99;
  }
}

i.da-chat-active {
  color: #45bf41;

  &:hover {
    color: #55cf51;
  }
}

i.da-chat-inactive {
  color: #4f4f4f;

  &:hover {
    color: var(--bs-gray-100);
  }
}


/*
 * From the ALThemeTemplate docs:
 * https://assemblyline.suffolklitlab.org/docs/components/ALThemeTemplate/overview#customizing-the-logo-and-title-for-assembly-line-interviews 
 */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
.bg-dark {
  background-color: var(--bs-cyan) !important;
}


/*
 * Additional Bootstrap theme tweaks 
 */

/* Elements */
a:not(:hover) {
  text-decoration-color: rgba(0, 0, 0, .1);
}

.bg-primary,
.btn-primary,
.btn-secondary,
.bg-secondary,
.btn-success,
.btn-info,
.btn-danger {
  color: var(--bs-white) !important;
}

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 2px rgba(21, 40, 75, .25);
}


/* datatype: file */

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-radius: 0;
}