
$btn-border-radius: 9999px;
$btn-border-radius-lg: 9999px;
$btn-border-radius-sm: 9999px;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$link-decoration: underline;
$emphasized-link-hover-darken-percentage: 10%;
$red: #cc0000;
$link-color: $red;
$progress-border-radius: 9999px;
$primary: $gray-800;
$navbar-dark-brand-color: $white;
$input-btn-border-width: 2px;